.channel-message-container {
    display: flex;
    flex-direction: column;
    min-height: 95%;
    overflow-y: scroll;
    position: relative;
    scrollbar-width: thin;
    scrollbar-color: #2f3136 #202225;
}

.channel-message-container > .fixed {
    flex: 1 1 auto;
}

.channel-messages-container {
    /* padding-top: auto; */
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
    width: 85vw;
    height: 98vh;
}

.message-container {
    border: 1px solid green;
    position: relative;
    bottom: 0;
}

.channel-title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
    background-color: #36393f;
    height: 50px;
    border-bottom: 1px solid rgb(37, 37, 37);
}

.channel-title-hashtag {
    margin-right: 7px;
}

.channel-title {
    padding-left: 8px;
    color: #fff;
}
