.user_info__container {
    background-color: #292b2f;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 40px;
    padding: 8px;
}

.user-pfp-name-container {
    display: flex;
    justify-content: space-around;
    color: white;
}

.user-profile-picture-container {
    background-color: #464749;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: 3px;
    border-radius: 50%;
    align-items: center;
    overflow: hidden;
    margin-right: 8px;
}

.user-profile-picture {
    height: 40px;

}

.user-username {
    align-self: center;

}

.user-setting-container {
    align-self: center;
    color: gray;
}

.user-settings-btn {
    padding-right: 7px;
}

.user-settings-container {
    width: 200px;
    height: 400px;
    position: fixed;
    background-color: #36393f;
    border: 1px solid gray;
    color: #fff;
    padding: 5px;
}

.user-settings-profile-picture-container {
    background-color: #464749;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 3px;
    border-radius: 50%;
    align-items: center;
    overflow: hidden;
    margin-right: 8px;
}

.user-settings-profile-picture {
    height: 60px;
}

.change-profile-picture-input {
    margin-bottom: 20px;
    outline: none;
    height: 20px;
}

.submit-pfp-change-btn {
    background-color: #8ea1e1;
    color: white;
    border-radius: 2px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    padding: 5px;
    cursor: pointer;
}

.logout-btn {
    background-color: #ed4245;
    color: white;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
}
